  <div class="py-2 pt-lg-5 ">
    <div class="container">
      <div class="row">
        <div class="offset-lg-1 col-lg-10 col-md-12 col-12">
          <div class="d-lg-flex align-items-center justify-content-between">
            <!-- Content -->
            <div class="mb-4 mb-lg-0">
              <h2 class="display-4 fw-bold ">📝 Edit Workflow</h2>
              <p class="mb-0 text-black lead">

              </p>
            </div>
                <div>
                  <%# <%= link_to "Back to Profile", profile_path, class:"btn btn-primary  card-hover " %>
                  <%= link_to workflow_path do%>
                  <button class="btn btn-outline-dark profile-back mr-lg-2 mt-2 mb-0 hvr-icon-forward">

                     </i> <img src="https://res.cloudinary.com/dza6mn30y/image/upload/c_scale,w_30/v1647351098/Pushflo/Category%20Icons/<%= @workflow.program%>.png" class="pb-1 img-fluid" alt="">

                   &nbsp;Back to Workflow<span>&nbsp;<i class = ""></i></span> <i class = "fa fa-chevron-circle-right fa-lg hvr-icon"></i>
                  </button>

                  <% end %>
                   <%# <%= link_to "Favourites/Uploads", favourited_path(current_user), class:"btn btn-dark card-hover " %>
                </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container px-14 py-2 pb-4  ">
  <div id="loomrecord" class=""><button class="button-4 text center align-middle"><img src="https://res.cloudinary.com/dza6mn30y/image/upload/c_scale,h_28/v1646954811/Pushflo/Images/icons/Loom_bm_wr6oyl.png">  Record a Loom</button></div>
  </div>
  <!-- Page Content -->
  <div class="pb-10">
    <div class="container">
      <div id="courseForm" class="form-inputs text-dark-primary text-body-bold  px-12">
    <%= simple_form_for [@workflow] do |f| %>
    <%= f.input :title, :required => false, error_class: 'is-invalid', valid_class: 'is-valid', :label => "✨ Title*" ,:label_html => { :class => 'form_label' } %>
     <%# <%= f.label :description, :required => false, :label => "❓Description" , as: :text, input_html: {rows: 1},:class => 'form_label'  <span class="form_h2"> - 1 sentence headline (OPTIONAL)</span> %>
     <%# <%= f.input :description, label: false , :input_html => {:rows => 1} %>
    <div class = "py-2">
    <%= f.label :program, :required => false, :label => "🗃️ Category*", :class => 'form_label'  %> <span class="form_h2"> - which program does it relate to?</span>
    <%= f.input :program,label: false , collection: [ "Outlook", "Notion", "Excel", "Loom", "Xero", "Dext", "Zoom", "Photoshop", "Premiere", "Ableton Live", "Gmail", "Snagit", "G Sheets", "VS Code", "Slack"]%>
        </div>
    <%= f.label :content, :required => false, :label => "📝 Written Walkthough", :class => 'form_label'  %> <span class="form_h2"> (OPTIONAL)</span>
    <%= f.rich_text_area :content, :html => { :class => 'form_walkthrough' } %>
     <div class = "pb-3 pt-2">
    <%= f.label :loom_url, :required => false, :label => "🎥 Loom video*", :class => 'form_label' %> <span class="form_h2"> - URL link (OPTIONAL)</span>
    <%= f.input :loom_url, label: false  %>
    </div>
    <span> <img class= "pl-2 pb-2" src="https://res.cloudinary.com/dza6mn30y/image/upload/c_scale,h_30/v1647337283/Pushflo/Images/icons/SD_Icon_rounded_isvkcm.png"></span><span class="form_h2"> - <strong> 🔗 STREAM DECK Profile</strong> (OPTIONAL)</span>




    <%= f.input :SDprofile, as: :file,  label: false, input_html: { id: "SD-button"}, required: false %>




    <%= f.hidden_field :user_id, value: User.find(@workflow.user_id).id %>
    <div>
    <%= f.submit "🚀 Update Workflow", class: " btn btn-primary submitbutton  card-hover mt-4  hvr-float" %>
    </div>
    <% end %>
</div>

<div class="container pt-20"> </div>
