


  <!-- Page header -->
  <div class=" pt-lg-5">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-xl-12 col-lg-12 col-md-12 col-12">

            <h1 class="text-black display-4"><img src="https://res.cloudinary.com/dza6mn30y/image/upload/v1645874416/Pushflo/Avatars/Copy_of_Dave_odrthq.png" class="rounded-circle avatar-md" alt=""> Workflows uploaded by <%= User.find_by(user_name: params[:filter]).first_name + " " + User.find_by(user_name: params[:filter]).last_name %></h1>
        </div>
      </div>
    </div>
  </div>
  <!-- Content -->
  <div >
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-12 mb-4">
          <div class="row d-lg-flex justify-content-between align-items-center">
            <div class="col-md-6 col-lg-8 col-xl-9 ">
     <h4 class="mb-1 mb-lg-0">Displaying <%= @workflows.all.count%> out of <%= Workflow.all.count%> Workflows</h4>
            </div>
            <div class="d-inline-flex col-md-6 col-lg-4 col-xl-3 ">
              <div class="me-2">
                <!-- Nav -->

              </div>
              <!-- List  -->

          </div>
        </div>


        <!-- Content -->
        <div class="row mt-0 mt-md-4">
				<div class="col-lg-3 col-md-4 col-12">
					<!-- Side navbar -->
					<nav class="navbar navbar-expand-md navbar-light shadow-sm mb-4 mb-lg-0 sidenav">
						<!-- Menu -->
						<a class="d-xl-none d-lg-none d-md-none text-inherit fw-bold" href="#">Menu</a>
						<!-- Button -->
						<button class="navbar-toggler d-md-none icon-shape icon-sm rounded bg-primary text-light" type="button"
							data-bs-toggle="collapse" data-bs-target="#sidenav" aria-controls="sidenav" aria-expanded="false"
							aria-label="Toggle navigation">
							<span class="fe fe-menu"></span>
						</button>
						<!-- Collapse navbar -->
						<div class="collapse navbar-collapse" id="sidenav">
							<div class="navbar-nav flex-column pt-3 pb-8">
                <ul class="list-unstyled ms-n2 mb-0 pb-1">
                  <li class="nav-item">
								  	<a class="nav-link" href="/workflows"><i class="fe fe-settings nav-icon"></i><strong>View All</strong></a>
								  </li>
                </ul>
								  <span class="navbar-header">Categories</span>
                <!-- List -->
								<ul class="list-unstyled ms-n2 mb-0">
									<!-- Nav item -->
									<li class="nav-item">
										<a class="nav-link" href="/program?filter=Outlook"><i class="pr-1"><img src="https://res.cloudinary.com/dza6mn30y/image/upload/c_scale,w_20/v1647351098/Pushflo/Category%20Icons/Outlook.png"></i>Outlook</a>
									</li>
									<!-- Nav item -->
									<li class="nav-item">
										<a class="nav-link" href="/program?filter=Notion"><i class="pr-1"><img src="https://res.cloudinary.com/dza6mn30y/image/upload/c_scale,w_20/v1647351098/Pushflo/Category%20Icons/Notion.png"></i>Notion</a>
									</li>
									<!-- Nav item -->
									<li class="nav-item">
										<a class="nav-link" href="/program?filter=Excel"><i class="pr-1"><img src="https://res.cloudinary.com/dza6mn30y/image/upload/c_scale,w_20/v1647351098/Pushflo/Category%20Icons/Excel.png"></i>Excel</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" href="/program?filter=Loom"><i class="pr-1"><img src="https://res.cloudinary.com/dza6mn30y/image/upload/c_scale,w_20/v1647351098/Pushflo/Category%20Icons/Loom.png"></i>Loom</a>
									</li>
									<!-- Nav item -->
									<li class="nav-item">
										<a class="nav-link" href="/program?filter=Xero"><i class="pr-1"><img src="https://res.cloudinary.com/dza6mn30y/image/upload/c_scale,w_20/v1647351098/Pushflo/Category%20Icons/Xero.png"></i>Xero</a>
									</li>
									<!-- Nav item -->
									<li class="nav-item">
										<a class="nav-link" href="/program?filter=Dext"><i class="pr-1"><img src="https://res.cloudinary.com/dza6mn30y/image/upload/c_scale,w_20/v1647351098/Pushflo/Category%20Icons/Dext.png"></i>Dext</a>
									</li>
										<!-- Nav item -->
										<li class="nav-item">
											<a class="nav-link " href="/program?filter=Zoom"><i class="pr-1"><img src="https://res.cloudinary.com/dza6mn30y/image/upload/c_scale,w_20/v1647351098/Pushflo/Category%20Icons/Zoom.png"></i>Zoom</a>
										</li>
									<!-- Nav item -->
									<li class="nav-item">
										<a class="nav-link" href="/program?filter=Photoshop"><i class="pr-1"><img src="https://res.cloudinary.com/dza6mn30y/image/upload/c_scale,w_20/v1647351098/Pushflo/Category%20Icons/Photoshop.png"></i>Photoshop</a>
									</li>
                  <li class="nav-item">
										<a class="nav-link" href="/program?filter=Premiere"><i class="pr-1"><img src="https://res.cloudinary.com/dza6mn30y/image/upload/c_scale,w_20/v1647351098/Pushflo/Category%20Icons/Premiere.png"></i>Premiere</a>
									</li>
                  <li class="nav-item">
										<a class="nav-link" href="/program?filter=Ableton Live"><i class="pr-1"><img src="https://res.cloudinary.com/dza6mn30y/image/upload/c_scale,w_20/v1647351098/Pushflo/Category%20Icons/Ableton Live.png"></i>Ableton Live</a>
									</li>
                  <li class="nav-item">
										<a class="nav-link" href="/program?filter=Gmail"><i class="pr-1"><img src="https://res.cloudinary.com/dza6mn30y/image/upload/c_scale,w_20/v1647351098/Pushflo/Category%20Icons/Gmail.png"></i>Gmail</a>
									</li>
                  <li class="nav-item">
										<a class="nav-link" href="/program?filter=Snagit"><i class="pr-1"><img src="https://res.cloudinary.com/dza6mn30y/image/upload/c_scale,w_20/v1647351098/Pushflo/Category%20Icons/Snagit.png"></i>Snagit</a>
									</li>
								</ul>
							</div>
						</div>
					</nav>
				</div>

        <!-- Tab content -->

        <div class="col-xl-9 col-lg-9 col-md-8 col-12">
          <div class="tab-content">
            <!-- Tab pane -->

            <div class="tab-pane fade show active pb-4 " id="tabPaneGrid" role="tabpanel" aria-labelledby="tabPaneGrid">

              <div class="row">
              <% @workflows.each do |workflow|%>
                <div class="col-lg-4 col-md-6 col-12">
                  <!-- Card -->


                  <div class="card  mb-4 card-hover">
                  <iframe  class="card-img-top" src= <%= workflow.loom_url.gsub(/\bshare\b/, 'embed') %> alt=""
                        class="card-img-top rounded-top-md"></iframe>
                    <!-- Card body -->
                    <div class="card-body">
                      <h4 class="mb-1 text-truncate-line-2 "><a href="" class="text-inherit"><%= link_to workflow.title, workflow_path(workflow) %></a>
                      </h4>
                       <!-- List inline -->
                      <ul class="mb-0 list-inline">
                        <li class="list-inline-item"><i class="mdi mdi-clock-time-four-outline text-muted"></i><img src="https://res.cloudinary.com/dza6mn30y/image/upload/c_scale,w_15/v1647351098/Pushflo/Category%20Icons/<%= workflow.program%>.png" class="pb-1 img-fluid" alt="">&nbsp;<strong><%= link_to workflow.program, program_path(filter: workflow.program), class:"text-secondary"  %></strong>
                        </li>
                      </ul>

                    </div>
                    <!-- Card footer -->
                    <div class="card-footer">
                       <!-- Row -->
                      <div class="row align-items-center g-0">
                        <div class="col-auto">
                          <img src="https://res.cloudinary.com/dza6mn30y/image/upload/v1645874416/Pushflo/Avatars/Copy_of_Dave_odrthq.png" class="rounded-circle avatar-xs" alt="">
                        </div>
                        <div class="col ms-2">
                           <span class=" text-secondary"> <%=  User.find(workflow.user_id).first_name + " " + User.find(workflow.user_id).last_name %> </span>
                        </div>
                        <div class="col-auto">
                         <a href="#" class="text-muted bookmark">
                    <i class="fe fe-bookmark  "></i>
                  </a>

                        </div>
                      </div>
                    </div>
                  </div>
                </div>

<%end%>
<div class= "pb-20"></div>
</div>
</div>
</div>
</div>
