  <div class="py-2 pt-lg-6 ">
    <div class="container">
      <div class="row">
        <div class="offset-lg-1 col-lg-10 col-md-12 col-12">
          <div class="d-lg-flex align-items-center justify-content-between">
            <!-- Content -->
            <div class="mb-4 mb-lg-0">
              <h1 class="display-4 fw-bold pb-lg-4">⤴️ Upload a New Workflow</h1>
              <p class="mb-0 text-black lead">

              </p>
            </div>
            <div>
              <%= link_to "Back to Profile", profile_path, class:"btn btn-primary  card-hover " %>
              <%= link_to "Favourites/Uploads", favourited_path(current_user), class:"btn btn-dark card-hover " %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Page Content -->
  <div class="pb-10">
    <div class="container">
      <div id="courseForm" class="form-inputs text-dark-primary text-body-bold  px-12">
    <%= simple_form_for [@workflow] do |f| %>
    <%= f.input :title %>
    <%= f.input :description %>
    <%= f.input :program %>
    <%= f.input :walkthrough %>
    <%= f.input :loom_url %>
    <%= f.hidden_field :user_id, value: current_user.id %>
    <%= f.submit "🚀 Submit Workflow", class: "btn btn-primary" %>
  <% end %>

<div class="container pt-20"> </div>
