<!-- Video section -->
  <div class="p-lg-5 py-5">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-12 mb-5">
          <div class="rounded-3 position-relative w-100 d-block overflow-hidden p-0" style="height: 600px;">
            <iframe class="position-absolute top-0 end-0 start-0 end-0 bottom-0 h-100 w-100" src= <%= @workflow.loom_url.gsub(/\bshare\b/, 'embed') %> alt=""
           >
            </iframe>
          </div>
        </div>
      </div>
      <!-- Content -->
      <div class="row">
        <div class=" width:100%">
          <!-- Card -->
          <div class="card mb-5">
            <!-- Card body -->
            <div class="card-body pt-3">
              <div class="d-flex justify-content-between align-items-center">
                <h1 class="fw-semi-bold mb-0">
                  <%= @workflow.title %>
                </h1>
                  <div>

                      </div>
                  <a href="#" data-bs-toggle="tooltip" data-placement="top"  title="Add to Bookmarks">
                  <i class="fe fe-bookmark fs-3 text-inherit"></i>
                  </a>

                 <ul class="mb-0 list-inline">
                        <li class="list-inline-item"><i class="mdi mdi-clock-time-four-outline text-muted"></i> <img src="https://res.cloudinary.com/dza6mn30y/image/upload/c_scale,w_20/v1647351098/Pushflo/Category%20Icons/<%= @workflow.program%>.png" class="pb-1 img-fluid" alt="">&nbsp;<strong><%=  link_to @workflow.program + " Workflows", program_path(filter: @workflow.program) , class:"text-secondary"   %></strong>
                        </li>
                      </ul>
              </div>

                        <div class="d-flex mb-2">


                </div>
              <div class="d-flex justify-content-between">
                <div class="d-flex align-items-center">
                  <img src="https://res.cloudinary.com/dza6mn30y/image/upload/v1645874416/Pushflo/Avatars/Copy_of_Dave_odrthq.png" class="rounded-circle avatar-md" alt="" />
                  <div class="ms-2 lh-1">

                    <h4 class="mb-1 text-truncate-line-2 text-inherit "> <%= link_to User.find(@workflow.user_id).first_name + " " + User.find(@workflow.user_id).last_name, user_workflows_path(filter:User.find(@workflow.user_id).user_name )%>
                         </h4>
                    <p class="mb-1"> <%= User.find(@workflow.user_id).user_name %> </p>
                  </div>
                </div>
                <div>

                    <%= simple_form_for [@favourite] do |f| %>
                      <%= f.hidden_field :workflow_id, value: @workflow.id %>
                      <%= f.hidden_field :user_id, value: current_user.id %>
                      <%= f.submit "✨ Favourite", class: "btn btn-primary" %>
                    <% end %>


                </div>
              </div>
            </div>

          </div>
          <!-- Card -->
          <div class="card rounded-3">
            <!-- Card body -->
            <div class="card-body">
              <div class="tab-content" id="tabContent">
                <!-- Tab pane -->
                <div class="tab-pane fade show active" id="description" role="tabpanel"
                  aria-labelledby="description-tab">
                  <div class="mb-4">
                    <h3 class="mb-2 pl-3 fw-semi-bold">📝 Walkthrough Notes</h3>

                    <p>
                      <%= @workflow.content %>
                    </p>


              <a href= "https://res.cloudinary.com/dza6mn30y/raw/upload/v1647104273/development/<%=@workflow.SDprofile.key%>.streamDeckProfile"> 🔗Profile Download </a>

          </div>
        </div>
      </div>
    </div>
  </div>

<div class="container pt-20"> </div>
