<!-- Video section -->
  <div class="p-lg-5 py-5">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-12 mb-5">
          <div class="rounded-3 position-relative w-100 d-block overflow-hidden p-0" style="height: 600px;">
            <iframe class="position-absolute top-0 end-0 start-0 end-0 bottom-0 h-100 w-100" src= <%= @workflow.loom_url.gsub(/\bshare\b/, 'embed') %> webkitallowfullscreen mozallowfullscreen allowfullscreen alt=""
           >
            </iframe>
          </div>
        </div>
      </div>
      <!-- Content -->
      <div class="row">
        <div class=" width:100%">
          <!-- Card -->
          <div class="card mb-5">
            <!-- Card body -->
            <div class="card-body pt-2">
              <div class="d-flex">
              <div class="p-2">
                <h1 class="fw-semi-bold mb-0" style= " word-wrap: break-word;">
                  <%= @workflow.title %>
                </h1>
             </div>

                <% if @workflow.user_id == current_user.id then %>
             <div class="pt-3 pb-3 pl-3 align-middle">
                      <%= link_to edit_workflow_path  do %>
                    <button class="edit-button card-hover hvr-icon-grow ">
                    <span>&nbsp;<i  class = "fa fa-edit fa-2x pt-1   hvr-icon"></i></span>
                    </button>
                    <% end %>

                    </div>
                         <%else%>
                         <% end %>
                  <div>


                      </div>


  <div class="ml-auto p-2 pt-lg-3">
                 <ul class="mb-0 list-inline ">
                        <li class="list-inline-item  text-end"><i class="mdi mdi-clock-time-four-outline text-muted"></i> <img src="https://res.cloudinary.com/dza6mn30y/image/upload/c_scale,w_20/v1647351098/Pushflo/Category%20Icons/<%= @workflow.program%>.png" class="pb-1 img-fluid" alt="">
                        &nbsp;<strong><%=  link_to @workflow.program + " Workflows", program_path(filter: @workflow.program) , class:"text-secondary"   %></strong>
                        </li>
                      </ul>
                        </div>
              </div>

                        <div class="d-flex mb-1">


                </div>
              <div class="d-flex justify-content-between">
                <div class="d-flex align-items-center">
                 <img src="https://res.cloudinary.com/dza6mn30y/image/upload/v1646777172/Pushflo/Avatars/<%=User.find(@workflow.user_id).first_name%>.jpg" class="rounded-circle avatar-sm" alt="">
                  <div class="ms-2 lh-1">

                    <h4 class="mb-1 text-truncate-line-2 text-inherit "> <%= link_to User.find(@workflow.user_id).first_name + " " + User.find(@workflow.user_id).last_name, user_workflows_path(filter:User.find(@workflow.user_id).user_name )%>
                         </h4>

                  </div>
                </div>
                <div>





            <% if Favourite.where(user_id: current_user, workflow_id: @workflow.id).exists? then %>

                    <%= form_for(current_user.favourites.find_by(workflow_id: @workflow.id), html: { method: :delete }, remote: true) do |f| %>


                     <button type="submit" class= "button-favourited hvr-icon-pop "  >

                    <span style="color:gold;"><i class="fa fa-star fa-lg hvr-icon "></i></span>  Favourited
                     </button>
                    <% end %>


                <%else%>

                    <%= simple_form_for [@favourite] do |f| %>
                      <%= f.hidden_field :workflow_id, value: @workflow.id %>
                      <%= f.hidden_field :user_id, value: current_user.id %>
                       <button type="submit" id="confetti" class= "button-4-favourite  hvr-icon-pop" >


                    <span style="color:gold;"><i class="fa fa-star fa-lg hvr-icon "></i></span>  Favourite
                     </button>
                    <% end %>
                 <% end %>

                </div>
              </div>
            </div>


          </div>
          <!-- Card -->
          <div class="card rounded-3">
            <!-- Card body -->
            <div class="card-body">
              <div class="tab-content" id="tabContent">
                <!-- Tab pane -->
                <div class="tab-pane fade show active" id="description" role="tabpanel"
                  aria-labelledby="description-tab">
                  <div class="mb-10">
                   <div class="d-flex justify-content-between align-items-center">
                    <h3 class="mb-2 pl-3 fw-semi-bold">📝 Walkthrough Notes</h3>



                      <% if @workflow.SDprofile.key == nil then %>
                    <%elsif Rails.env.development?%>

                    <a class= "SDbutton card-hover  hvr-icon-sink ", style="", href= "https://res.cloudinary.com/dza6mn30y/raw/upload/v1647376147/development/<%=@workflow.SDprofile.key%>.streamDeckProfile" title= "Download Stream Deck Profile">  <img class= "pb-1" src="https://res.cloudinary.com/dza6mn30y/image/upload/c_scale,h_30/v1647337283/Pushflo/Images/icons/SD_Icon_rounded_isvkcm.png">&nbsp;Download <i class="fa fa-arrow-circle-o-down fa-lg hvr-icon "></i></a>
                   <%elsif Rails.env.production?%>

                   <a class= "SDbutton card-hover  hvr-icon-sink ", style="", href= "https://res.cloudinary.com/dza6mn30y/raw/upload/v1647644742/production/<%=@workflow.SDprofile.key%>.streamDeckProfile" title= "Download Stream Deck Profile">  <img class= "pb-1" src="https://res.cloudinary.com/dza6mn30y/image/upload/c_scale,h_30/v1647337283/Pushflo/Images/icons/SD_Icon_rounded_isvkcm.png">&nbsp;Download <i class="fa fa-arrow-circle-o-down fa-lg hvr-icon "></i></a>
                    <% end %>

                </div>

                    <p>
                      <%= @workflow.content %>
                    </p>

<div class= "container text-right" >

</div>
          </div>
        </div>
      </div>
    </div>
  </div>

<div class="container pt-20"> </div>
