
	<!-- Page Content -->
	<div class="pt-5 pb-5">
		<div class="container">
				<!-- User info -->
			<div class="row align-items-center">
				<div class="col-xl-12 col-lg-12 col-md-12 col-12">
					<!-- Bg -->
					<div class="pt-16 rounded-top-md" style="
								background: url(https://res.cloudinary.com/dza6mn30y/image/upload/v1645886041/Pushflo/Images/profile-bg_g0x3lh.jpg) no-repeat;
								background-size: cover;
							"></div>
					<div
						class="d-flex align-items-end justify-content-between bg-white px-4 pt-2 pb-4 rounded-none rounded-bottom-md shadow-sm">
						<div class="d-flex align-items-center mr-auto p-2">
							<div class="me-2 position-relative d-flex justify-content-end align-items-end mt-n5">
								<img src="https://res.cloudinary.com/dza6mn30y/image/upload/v1646777172/Pushflo/Avatars/<%=current_user.first_name%>.jpg" class="avatar-xl rounded-circle border border-4 border-white"

									alt="" />
							</div>
							<div class="lh-1">
								<h2 class="mb-0"><%=@current_user.first_name%> <%=@current_user.last_name%>
									<a href="#" class="text-decoration-none" data-bs-toggle="tooltip" data-placement="top" title="Beginner">

									</a>
								</h2>
								    <p class=" mb-0 d-block"><%=@current_user.user_name%> </p>
							</div>
						</div>
					       <div class="pt-lg-2 p-2">
             <%= link_to favourited_path(@current_user) do%>
             <button class="btn btn-outline-secondary mr-lg-2 mt-2 mb-0 hvr-icon-forward">
             ✨ My Favourites <span>&nbsp;<i class = ""></i></span> <i class = "fa fa-chevron-circle-right fa-lg hvr-icon"></i>
                </button>

            <% end %>
            </div>
              <div class="pt-lg-2 p-2">
             <%= link_to uploaded_path(@current_user) do%>
             <button class="btn btn-outline-secondary mr-lg-2 mt-2 mb-0 hvr-icon-forward">
             ⤴️ My Uploads <span>&nbsp;<i class = ""></i></span> <i class = "fa fa-chevron-circle-right fa-lg hvr-icon"></i>
                </button>

            <% end %>
            </div>
					</div>
				</div>
			</div>
	<!-- Content -->
	<div class="row mt-0 mt-md-4">
				<div class="col-lg-3 col-md-4 col-12">
							<!-- Side navbar -->
					<nav class="navbar navbar-expand-md navbar-light shadow-sm mb-4 pb-lg-2 sidenav">
						<!-- Menu -->
						<a class="d-xl-none d-lg-none d-md-none text-inherit fw-bold" href="#">Menu</a>
						<!-- Button -->
						<button class="navbar-toggler d-md-none icon-shape icon-sm rounded bg-primary text-light" type="button"
							data-bs-toggle="collapse" data-bs-target="#sidenav" aria-controls="sidenav" aria-expanded="false"
							aria-label="Toggle navigation">
							<span class="fe fe-menu"></span>
						</button>
						<!-- Collapse navbar -->
						<div class="collapse navbar-collapse" id="sidenav">
							<div class="navbar-nav flex-column">

								<span class="navbar-header">⚙️ Account Settings</span>
                				<!-- List -->
								<ul class="list-unstyled ms-n2 mb-0">
									<!-- Nav item -->
									<li class="nav-item active">
										<a class="nav-link" href="profile-edit.html"><i class="fe fe-settings nav-icon"></i>Edit Profile</a>
									</li>
								
									<li class="nav-item">
										<a class="nav-link" href="notifications.html"><i class="fe fe-bell nav-icon"></i>Notifications</a>
									</li>
									
									
								</ul>
								<span class="navbar-header border-top pt-3">😍 Favourites</span>
                				<!-- List -->
								<ul class="list-unstyled ms-n2 mb-2">
									<!-- Nav item -->
									<li class="nav-item">
										<a class="nav-link" href="/users/<%=current_user.id%>/favourites"><i class="fe fe-settings nav-icon"></i>My Favourites</a>
									</li>
			
								</ul>
								<span class="navbar-header border-top pt-3 ">🧐 Following</span>
                				<!-- List -->
								<ul class="list-unstyled ms-n2 mb-2">
									<!-- Nav item -->
									<li class="nav-item">
										<a class="nav-link" href="profile-edit.html"><i class="fe fe-settings nav-icon"></i>My Programs</a>
									</li>
								<!-- Nav item -->
									<li class="nav-item">
										<a class="nav-link" href="profile-edit.html"><i class="fe fe-settings nav-icon"></i>My Creators</a>
									</li>
			
								</ul>
								<span class="navbar-header border-top pt-3">⤴️ My Uploads</span>
                				<!-- List -->
								<ul class="list-unstyled ms-n2 mb-2">
									<!-- Nav item -->
									<li class="nav-item">
										<a class="nav-link" href="/users/<%=current_user.id%>/uploads"><i class="fe fe-settings nav-icon"></i>My Uploads - Live</a>
									</li>
								<!-- Nav item -->
									<li class="nav-item">
										<a class="nav-link" href="profile-edit.html"><i class="fe fe-settings nav-icon"></i>Pending Review</a>
									</li>
									<!-- Nav item -->
									<li class="nav-item">
										<a class="nav-link" href="profile-edit.html"><i class="fe fe-settings nav-icon"></i>Denied</a>
									</li>
									
			
								</ul>
								<span class="navbar-header border-top pt-3">👨‍💼 Admin</span>
                				<!-- List -->
								<ul class="list-unstyled ms-n2 mb-4">
									<!-- Nav item -->
									<li class="nav-item">
										<a class="nav-link" href="/unapproved"><i class="fe fe-settings nav-icon"></i>To Review</a>
									</li>
								
									
			
								</ul>
							</div>
						</div>
					</nav>
				</div>
				<div class="col-lg-9 col-md-8 col-12">
					<!-- Card -->
					<div class="card">
						<!-- Card header -->
						<div class="card-header">
							<h3 class="mb-0">Profile Details</h3>
							<p class="mb-0">
				
							</p>
						</div>
						<!-- Card body -->
						<div class="card-body">
							<div class="d-lg-flex align-items-center justify-content-between">
								<div class="d-flex align-items-center mb-4 mb-lg-0">
									<img src="https://res.cloudinary.com/dza6mn30y/image/upload/v1646777172/Pushflo/Avatars/<%=current_user.first_name%>.jpg" id="img-uploaded" class="avatar-xl rounded-circle" alt="" />
									<div class="ms-3">
										<h4 class="mb-0">Your avatar</h4>
										<p class="mb-0">
											PNG or JPG no bigger than 800px wide and tall.
										</p>
									</div>
								</div>
								<div>
									<a href="#" class="btn btn-outline-white btn-sm">Update</a>
									<a href="#" class="btn btn-outline-danger btn-sm">Delete</a>
								</div>
							</div>
							<hr class="my-5" />
							<div>
								<h4 class="mb-0">Personal Details</h4>
								<p class="mb-4">
									Edit your personal information.
								</p>
								<!-- Form -->
								<form class="row">
									<!-- First name -->
									<div class="mb-3 col-12 col-md-6">
										<label class="form-label" for="fname">First Name</label>
										<input type="text" id="fname" class="form-control" placeholder="First Name" required />
									</div>
									<!-- Last name -->
									<div class="mb-3 col-12 col-md-6">
										<label class="form-label" for="lname">Last Name</label>
										<input type="text" id="lname" class="form-control" placeholder="Last Name" required />
									</div>
									<!-- Phone -->
									<div class="mb-3 col-12 col-md-6">
										<label class="form-label" for="phone">User Name</label>
										<input type="text" id="uname" class="form-control" placeholder="User Name" required />
									</div>
									<div class="col-12">
										<!-- Button -->
										<button class="btn btn-primary" type="submit">
											Update Profile
										</button>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


<div class="container pt-16"> </div>
