
<div class=" navbar navbar-expand-sm navbar-light navbar-lewagon fixed-top ">
  <div class="container-fluid d-flex justify-content-between ">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "https://res.cloudinary.com/dza6mn30y/image/upload/v1645875304/Pushflo/Branding/Icon_multicolour_g7gkay.png" %>
    <% end %>

  <div class="brand">
    <%# <a class="navbar-brand" href="#"> %>
      <img src="https://res.cloudinary.com/dza6mn30y/image/upload/v1645874190/Pushflo/Branding/the_Pushflo_Hub_Logo_xinztt.png" alt="Logo" style="width:300px;">
    <%# </a> %>
  </div>

        <div class="ms-auto mt-3 mt-lg-0">


  <button class="confetti-canon mr-lg-4 py-0 px-1 hvr-icon-spin" id="confetti-canon">
            <h1 class= "hvr-icon">🎉</h1>
                </button>


      <% if current_page?(workflows_path ) ||  current_page?(program_path)|| current_page?(user_workflows_path) || current_page?(root_path)|| current_page?(new_user_session_path)|| current_page?(user_session_path) || current_page?(users_sign_out_path) || current_page?(destroy_user_session_path) then %>

      <% else %>

   <%= link_to workflows_path  do %>
                <button class="btn btn-outline-primary mr-lg-5 hvr-icon-forward">
              All Workflows  <span>&nbsp;<i class = "fa fa-chevron-circle-right fa-lg hvr-icon"></i></span>
                </button>
              <% end %>
<% end %>
			</div>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>

          <li class="nav-item dropdown">
            <%= image_tag "https://res.cloudinary.com/dza6mn30y/image/upload/v1646777172/Pushflo/Avatars/#{current_user.first_name}.jpg", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>


            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "My Account", profile_path, class: "dropdown-item" %>
              <%= link_to "My Favourites", favourited_path(current_user), class: "dropdown-item" %>
               <%= link_to "My Uploads", uploaded_path(current_user), class: "dropdown-item" %>
              <%# <%= link_to "My Uploads", "", class: "dropdown-item"  %>
              <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
            </div>
          </li>
        <% else %>
          <!--li class="nav-item"-->
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          <!--/li-->
        <% end %>
      </ul>
    </div>
  </div>
</div>
<div class="container mb-10"></div>
