<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid d-flex justify-content-between">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "https://res.cloudinary.com/dza6mn30y/image/upload/v1645875304/Pushflo/Branding/Icon_multicolour_g7gkay.png" %>
    <% end %>

  <div class="container d-flex pl-5 justify-content-center">
    <%# <a class="navbar-brand" href="#"> %>
      <img src="https://res.cloudinary.com/dza6mn30y/image/upload/v1645874190/Pushflo/Branding/the_Pushflo_Hub_Logo_xinztt.png" alt="Logo" style="width:300px;">
    <%# </a> %>
  </div>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>

          <li class="nav-item dropdown">
            <%= image_tag "https://avatars.githubusercontent.com/u/88489318?v=4", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "My Account", profile_path, class: "dropdown-item" %>
              <%= link_to "My Favourites", favourites_path(current_user), class: "dropdown-item" %>
              <%= link_to "My Uploads", "", class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
            </div>
          </li>
        <% else %>
          <!--li class="nav-item"-->
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          <!--/li-->
        <% end %>
      </ul>
    </div>
  </div>
</div>
