       <!-- Page Content -->
    <div class="py-lg-14 py-10 position-relative bg-cover"
     style="background: url(https://res.cloudinary.com/dza6mn30y/image/upload/v1646607322/Pushflo/Images/Homepage_icons_HQ_pgjjst.png)no-repeat , linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 100%), rgba(221, 218, 255, 0.3) ; background-size: cover; background-position: top center"
      style="background-image:
      url(https://res.cloudinary.com/dza6mn30y/image/upload/v1645886037/Pushflo/Images/gradient-bg_atci5d.png);"
     >
       <!-- Image -->
      <div class="container">
        <div class="row align-items-center mb-6">
          <div class="col-12 col-xl-6 order-md-2">
            <div class="mb-1 mb-md-0">
              <img src="https://res.cloudinary.com/dza6mn30y/image/upload/v1645876695/Pushflo/Images/Streamdeck_image_oyrsms.png" alt=""
              class="img-fluid mw-md-100">
            </div>
          </div>
          <div class="col-12 col-lg-6 order-md-1">
            <!-- Heading -->
            <h1 id="title-typed" class="display-2 fw-bold mb-3 text-primary"> <span class="text-dark px-3 px-md-0">
              Supercharge your Stream Deck
              Workflow <br>
               in </span><span class="headingTyped text-primary"></span>
            </h1>
             <!-- list -->
            <ul class="list-unstyled fs-3 text-dark
               mb-6 fw-medium">
              <li class="mb-1 d-flex"><i class="mdi mdi-check-circle text-success
                  me-2"></i>🔎 Find workflows for your top programs</li>
              <li class="mb-1 d-flex"><i class="mdi mdi-check-circle text-success
                  me-2"></i>⤵️ Download profiles for instant use</li>
              <li class="mb-1 d-flex"><i class="mdi mdi-check-circle text-success
                  me-2"></i>💪 Upload your own workflows</li>
            </ul>
            <!-- Buttons -->
            <div class="mb-8 mb-lg-0">
              <a href="#" >
                <%= link_to "Browse All Workflows", workflows_path, class:"btn btn-primary  card-hover " %>
              </a>

            </div>

          </div>
        </div>
</div>
</div>
<!-- =======================
Category START -->
<section class="bg-white">
	<div class="container pt-lg-6 pb-lg-4 bg-white">
        <h1 class="display-4 fw-bold pb-lg-4">💫 Show Workflows by Popular Programs</h1>
		<div class="row g-4">

			<!-- Category item -->

			<div class="col-sm-6 col-lg-4 col-xl-3">
      <%= link_to program_path(filter: "Notion"),  style: "text-decoration: none;" do %>

				<div class="card card-body  card-hover bg-light ">

					    <div class="d-flex align-items-center">
						<!-- Icon -->

                  <img src="https://res.cloudinary.com/dza6mn30y/image/upload/v1645988609/Pushflo/Images/icons/Notion_umximk.png" class="rounded avatar-lg" alt="">
				      <div class="ms-3">

					    <h3 class="fw-bold", style= "text-decoration: none;">Notion</h3>
							<span><%=Workflow.where(program:"Notion").all.count%> Workflows</span>
					</div>
					  </div>
			  	</div>
           <%end%>
			  </div>

			<!-- Category item -->
			<div class="col-sm-6 col-lg-4 col-xl-3">
      <%= link_to program_path(filter: "Excel"),  style: "text-decoration: none;" do %>
				<div class="card card-body  card-hover bg-light">
					<div class="d-flex align-items-center">
						<!-- Icon -->

            <img src="https://res.cloudinary.com/dza6mn30y/image/upload/v1645988609/Pushflo/Images/icons/Excel_1_ieek2g.png" class="rounded avatar-lg" alt="">
						<div class="ms-3">

							<h3 class="fw-bold">Excel</h3>
							<span><%= Workflow.where(program:"Excel").all.count%> Workflows</span>
						</div>
					</div>
				</div>
         <%end%>
			</div>

			<!-- Category item -->
			<div class="col-sm-6 col-lg-4 col-xl-3">
        <%= link_to program_path(filter: "Gmail"),  style: "text-decoration: none;" do %>
				<div class="card card-body  card-hover bg-light">
					<div class="d-flex align-items-center">
						<!-- Icon -->

            <img src="https://res.cloudinary.com/dza6mn30y/image/upload/v1645988609/Pushflo/Images/icons/Gmail_njik3o.png" class="rounded avatar-lg" alt="">
						<div class="ms-3">

								<h3 class="fw-bold">Gmail</h3>
							<span><%=Workflow.where(program:"Gmail").all.count%> Workflows</span>
						</div>
					</div>
				</div>
         <%end%>
			</div>

			<!-- Category item -->
			<div class="col-sm-6 col-lg-4 col-xl-3">
      <%= link_to program_path(filter: "Slack"),  style: "text-decoration: none;" do %>
				<div class="card card-body  card-hover bg-light">
					<div class="d-flex align-items-center">
						<!-- Icon -->

            <img src="https://res.cloudinary.com/dza6mn30y/image/upload/v1645877205/Pushflo/Images/icons/Icons_Feb21_22_ccruqg.png" class="rounded avatar-lg" alt="">
						<div class="ms-3">

								<h3 class="fw-bold">Slack</h3>
							<span><%=Workflow.where(program:"Notion").all.count%> Workflows</span>
						</div>
					</div>
				</div>
          <%end%>
			</div>

			<!-- Category item -->
			<div class="col-sm-6 col-lg-4 col-xl-3">
        <%= link_to program_path(filter: "Loom"),  style: "text-decoration: none;" do %>
				<div class="card card-body  card-hover bg-light">
					<div class="d-flex align-items-center">
						<!-- Icon -->

            <img src="https://res.cloudinary.com/dza6mn30y/image/upload/v1645988609/Pushflo/Images/icons/Loom_ikfx3g.png" class="rounded avatar-lg" alt="">
						<div class="ms-3">

							<h3 class="fw-bold">Loom</h3>
							<span><%=Workflow.where(program:"Loom").all.count%> Workflows</span>
						</div>
					</div>
				</div>
         <%end%>
			</div>

			<!-- Category item -->
			<div class="col-sm-6 col-lg-4 col-xl-3">
       <%= link_to program_path(filter: "VS Code"),  style: "text-decoration: none;" do %>
				<div class="card card-body  card-hover bg-light">
					<div class="d-flex align-items-center">
						<!-- Icon -->

            <img src="https://res.cloudinary.com/dza6mn30y/image/upload/v1645988610/Pushflo/Images/icons/VS_Code_Dark_bh4d2b.png" class="rounded avatar-lg" alt="">
						<div class="ms-3">

							<h3 class="fw-bold">VS Code</h3>
							<span><%= Workflow.where(program:"VS Code").all.count%> Workflows</span>
						</div>
					</div>
				</div>
          <%end%>
			</div>

			<!-- Category item -->
			<div class="col-sm-6 col-lg-4 col-xl-3">
         <%= link_to program_path(filter: "G Sheets"),  style: "text-decoration: none;" do %>
				<div class="card card-body  card-hover bg-light">
					<div class="d-flex align-items-center">
						<!-- Icon -->

            <img src="https://res.cloudinary.com/dza6mn30y/image/upload/v1645988608/Pushflo/Images/icons/G_Sheets_wwkzmm.png" class="rounded avatar-lg" alt="">
						<div class="ms-3">

								<h3 class="fw-bold">G Sheets</h3>
							<span><%=Workflow.where(program:"G Sheets").all.count%> Workflows</span>
						</div>
					</div>
				</div>
          <%end%>
			</div>

			<!-- Category item -->
			<div class="col-sm-6 col-lg-4 col-xl-3">
      <%= link_to program_path(filter: "Outlook"),  style: "text-decoration: none;" do %>
				<div class="card card-body  card-hover bg-light">
					<div class="d-flex align-items-center">
						<!-- Icon -->

            <img src="https://res.cloudinary.com/dza6mn30y/image/upload/v1645877205/Pushflo/Images/icons/Icons_Feb21_15_trfkcg.png" class="rounded avatar-lg" alt="">
						<div class="ms-3">

								<h3 class="fw-bold">Outlook</h3>
							<span><%=Workflow.where(program:"Outlook").all.count%> Workflows</span>
						</div>
					</div>
				</div>
          <%end%>
			</div>
		</div>
	</div>
</section>
<!-- =======================
Category END -->



  <!-- Content -->
  <div class="py-12 bg-white">
    <div class="container">
      <div class="">
        <div class="col-md-12">

          <!-- Tab Content -->
          <div class="tab-content" id="tabContent">
            <!-- Tab Pane -->
            <div class="tab-pane fade show active" id="most-popular" role="tabpanel" aria-labelledby="most-popular-tab">



              </div>
            </div>
          </div>
        </div>


      <!-- Content -->
      <div class= "container pb-8
          pt-6">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-12">
              <div class="mb-5">
                <h1 class="display-4 fw-bold pb-2">📌 Featured Workflows</h1>
                <p class="mb-0"></p>
              </div>
            </div>
            </div>
            <div class="row">
              <%  Workflow.all.sample(4).each do |workflow|%>
                <div class="col-lg-3 col-md-6 col-12">
                  <!-- Card -->


                  <div class="card  mb-4 card-hover">
                  <iframe  class="card-img-top" src= <%= workflow.loom_url.gsub(/\bshare\b/, 'embed') %> alt=""
                        class="card-img-top rounded-top-md"></iframe>
                    <!-- Card body -->
                    <div class="card-body">
                      <h4 class="mb-1 text-truncate-line-2 "><a href="" class="text-inherit"><%= link_to workflow.title, workflow_path(workflow) %></a>
                      </h4>
                       <!-- List inline -->
                      <ul class="mb-0 list-inline">
                        <li class="list-inline-item"><i class="mdi mdi-clock-time-four-outline text-muted"></i><img src="https://res.cloudinary.com/dza6mn30y/image/upload/c_scale,w_15/v1647351098/Pushflo/Category%20Icons/<%= workflow.program%>.png" class="pb-1 img-fluid" alt="">&nbsp;<strong><%= link_to workflow.program, program_path(filter: workflow.program), class:"text-secondary"%></strong>
                        </li>
                      </ul>

                    </div>
                    <!-- Card footer -->
                    <div class="card-footer">
                       <!-- Row -->
                      <div class="row align-items-center g-0">
                        <div class="col-auto">
                          <img src="https://res.cloudinary.com/dza6mn30y/image/upload/v1645874416/Pushflo/Avatars/Copy_of_Dave_odrthq.png" class="rounded-circle avatar-xs" alt="">
                        </div>
                        <div class="col ms-2">
                          <span><%= link_to User.find(workflow.user_id).first_name + " " + User.find(workflow.user_id).last_name, user_workflows_path(filter:User.find(workflow.user_id).user_name ) , class:"text-secondary" %></span>
                        </div>
                        <div class="col-auto">
                         <a href="#" class="text-muted bookmark">
                    <i class="fe fe-bookmark  "></i>
                  </a>

                        </div>
                      </div>
                    </div>
                  </div>
                </div>
            <%end%>

            <%# <div class="col-lg-3 col-md-6 col-12">
            <!-- Card -->
            <div class="card  mb-4 card-hover">
                    <iframe href="course-single.html" class="card-img-top" src="https://www.loom.com/embed/cd40bc0d574b4edf90e7194990282dd5" alt=""
                        class="card-img-top rounded-top-md"></iframe>
            <!-- Card body -->
            <div class="card-body">
              <h3 class="h4 mb-2 text-truncate-line-2 "><a href="#" class="text-inherit">GraphQL:
                  introduction to graphQL for beginners</a></h3>
              <ul class="mb-3 list-inline">
                <li class="list-inline-item"><i class="mdi mdi-clock-time-four-outline text-muted me-1"></i>2h 46m</li>
                <li class="list-inline-item"><svg class="me-1 mt-n1" width="16" height="16" viewBox="0 0 16 16"
                    fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect x="3" y="8" width="2" height="6" rx="1" fill="#754FFE"></rect>
                    <rect x="7" y="5" width="2" height="9" rx="1" fill="#754FFE"></rect>
                    <rect x="11" y="2" width="2" height="12" rx="1" fill="#754FFE"></rect>
                  </svg>Advance </li>
              </ul>
              <div class="lh-1">
                <span>
                  <i class="mdi mdi-star text-warning me-n1"></i>
                  <i class="mdi mdi-star text-warning me-n1"></i>
                  <i class="mdi mdi-star text-warning me-n1"></i>
                  <i class="mdi mdi-star text-warning me-n1"></i>
                  <i class="mdi mdi-star text-warning"></i>
                </span>
                <span class="text-warning">4.5</span>
                <span class="fs-6 text-muted">(4,300)</span>
              </div>
            </div>
            <!-- Card Footer -->
            <div class="card-footer">
              <div class="row align-items-center g-0">
                <div class="col-auto">
                  <img src="https://res.cloudinary.com/dza6mn30y/image/upload/v1645874416/Pushflo/Avatars/Copy_of_Nelson_rr2idp.jpg" class="rounded-circle avatar-xs" alt="">
                </div>
                <div class="col ms-2">
                  <span>Ted Hawkins</span>
                </div>
                <div class="col-auto">
                 <a href="#" class="text-muted bookmark">
                    <i class="fe fe-bookmark  "></i>
                  </a>
                </div>
              </div>
            </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-12">
              <!-- Card -->
              <div class="card  mb-4 card-hover">
                    <iframe href="course-single.html" class="card-img-top" src="https://www.loom.com/embed/cd40bc0d574b4edf90e7194990282dd5" alt=""
                        class="card-img-top rounded-top-md"></iframe>
            <!-- Card body -->
            <div class="card-body">
              <h3 class="h4 mb-2 text-truncate-line-2 "><a href="#" class="text-inherit">Angular - the
                  complete guide for beginner</a></h3>
              <ul class="mb-3  list-inline">
                <li class="list-inline-item"><i class="mdi mdi-clock-time-four-outline text-muted me-1"></i>1h 30m</li>
                <li class="list-inline-item"><svg class="me-1 mt-n1" width="16" height="16" viewBox="0 0 16 16"
                    fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect x="3" y="8" width="2" height="6" rx="1" fill="#754FFE"></rect>
                    <rect x="7" y="5" width="2" height="9" rx="1" fill="#DBD8E9"></rect>
                    <rect x="11" y="2" width="2" height="12" rx="1" fill="#DBD8E9"></rect>
                  </svg>Beginner </li>
              </ul>
              <div class="lh-1">
                <span>
                  <i class="mdi mdi-star text-warning me-n1"></i>
                  <i class="mdi mdi-star text-warning me-n1"></i>
                  <i class="mdi mdi-star text-warning me-n1"></i>
                  <i class="mdi mdi-star text-warning me-n1"></i>
                  <i class="mdi mdi-star text-warning"></i>
                </span>
                <span class="text-warning">4.5</span>
                <span class="fs-6 text-muted">(5,410)</span>
              </div>
            </div>
            <!-- Card footer -->
            <div class="card-footer">
              <div class="row align-items-center g-0">
                <div class="col-auto">
                  <img src="https://res.cloudinary.com/dza6mn30y/image/upload/v1645874416/Pushflo/Avatars/Copy_of_Nelson_rr2idp.jpg" class="rounded-circle avatar-xs" alt="">
                </div>
                <div class="col ms-2">
                  <span>Juanita Bell</span>
                </div>
                <div class="col-auto">
                 <a href="#" class="text-muted bookmark">
                    <i class="fe fe-bookmark  "></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-12">
          <!-- Card -->
          <div class="card  mb-4 card-hover">
                    <iframe href="course-single.html" class="card-img-top" src="https://www.loom.com/embed/cd40bc0d574b4edf90e7194990282dd5" alt=""
                        class="card-img-top rounded-top-md"></iframe>
            <!-- Card body -->
            <div class="card-body">
              <h3 class="h4 mb-2 text-truncate-line-2 "><a href="#" class="text-inherit">The Python
                  Course: build web application</a></h3>
              <ul class="mb-3  list-inline">
                <li class="list-inline-item"><i class="mdi mdi-clock-time-four-outline text-muted me-1"></i>2h 30m</li>
                <li class="list-inline-item"><svg class="me-1 mt-n1" width="16" height="16" viewBox="0 0 16 16"
                    fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect x="3" y="8" width="2" height="6" rx="1" fill="#754FFE"></rect>
                    <rect x="7" y="5" width="2" height="9" rx="1" fill="#754FFE"></rect>
                    <rect x="11" y="2" width="2" height="12" rx="1" fill="#DBD8E9"></rect>
                  </svg>Intermediate </li>
              </ul>
              <div class="lh-1">
                <span>
                  <i class="mdi mdi-star text-warning me-n1"></i>
                  <i class="mdi mdi-star text-warning me-n1"></i>
                  <i class="mdi mdi-star text-warning me-n1"></i>
                  <i class="mdi mdi-star text-warning me-n1"></i>
                  <i class="mdi mdi-star text-warning"></i>
                </span>
                <span class="text-warning">4.5</span>
                <span class="fs-6 text-muted">(9,300)</span>
              </div>
            </div>
            <!-- Card footer -->
            <div class="card-footer">
              <div class="row align-items-center g-0">
                <div class="col-auto">
                  <img src="https://res.cloudinary.com/dza6mn30y/image/upload/v1645874416/Pushflo/Avatars/Copy_of_Nelson_rr2idp.jpg
                  " class="rounded-circle avatar-xs" alt="">
                </div>
                <div class="col ms-2">
                  <span>Claire Robertson</span>
                </div>
                <div class="col-auto">
                 <a href="#" class="text-muted bookmark">
                    <i class="fe fe-bookmark  "></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
      <div class="row">
        <div class="col-lg-3 col-md-6 col-12">
        %>


              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>





  <!-- Instructor -->
  <hr class="my-0">
  <div class="py-8 pb-lg-0 pt-lg-8 bg-light-gradient-top ">
    <div class="container">
      <div class="row mb-4 justify-content-center">
         <!-- caption -->
        <div class="col-lg-8 col-md-12 col-12 text-center">
          <span class="text-primary mb-3 d-block text-uppercase fw-semi-bold ls-xl">learn from a growing community</span>
          <h2 class="display-4 fw-bold">🌍 Workflows created by a Global Community</h2>
          <p class="lead">Experts, experienced users and novices - the platform enables the creation and sharing of workflows from a diverse global community</p>
        </div>


        <div class="col-lg-12 col-md-12 col-12">
          <div class="mb-1">
            <h1 class="display-6 fw-bold pt-8">👇 Here are a few of our awesome creators</h1>
            <p class="mb-1"></p>
          </div>
        </div>

      </div>
 <!-- row -->
      <div class="row">
        <div class="col-xl-3 col-lg-4 col-md-6 col-12 ">
           <!-- card -->
          <div class="card mb-4 card-hover">
             <!-- img -->
            <div class="card-img-top">
              <img src="https://res.cloudinary.com/dza6mn30y/image/upload/v1645874416/Pushflo/Avatars/Copy_of_Nelson_rr2idp.jpg" alt="" class="rounded-top-md img-fluid">
            </div>
             <!-- card body -->
            <div class="card-body">
             <h3 class="mb-0 fw-semi-bold"> <a href="#" class="text-inherit">Nelson</a></h3>
                   <p class="mb-3">Specialisms : <strong>Gmail, Adobe</strong></p>
              <div class="lh-1  d-flex justify-content-between">

                <div>
                  <span class="fs-6 text-muted"><span class="text-dark">20</span> Workflows</span></div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-6 col-12">
           <!-- card -->
          <div class="card mb-4 card-hover">
             <!-- img -->
            <div class="card-img-top">
              <img src="https://res.cloudinary.com/dza6mn30y/image/upload/v1645874416/Pushflo/Avatars/Copy_of_Dave_odrthq.png" alt="" class="rounded-top-md img-fluid">
            </div>
             <!-- card body -->
            <div class="card-body">
              <h3 class="mb-0 fw-semi-bold"><a href="#" class="text-inherit">Dave</a></h3>
                 <p class="mb-3">Specialisms : <strong> Excel, Outlook </strong></p>
              <div class="lh-1  d-flex justify-content-between">

                <div>
                  <span class="fs-6 text-muted"><span class="text-dark">25</span> Workflows</span></div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-6 col-12">
           <!-- card -->
          <div class="card mb-4 card-hover">
             <!-- img -->
            <div class="card-img-top">
              <img src="https://res.cloudinary.com/dza6mn30y/image/upload/v1646777172/Pushflo/Avatars/Copy_of_Kyri_ygvzqc.jpg" alt="" class="rounded-top-md img-fluid">
            </div>
             <!-- card body -->
            <div class="card-body">
              <h3 class="mb-0 fw-semi-bold"><a href="#" class="text-inherit">Kyri</a></h3>
              <p class="mb-3">Specialisms : <strong>Sage, Excel</strong></p>
              <div class="lh-1  d-flex justify-content-between">

                <div>
                  <span class="fs-6 text-muted"><span class="text-dark">10</span> Workflows</span></div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-6 col-12 d-lg-none d-xl-block">
           <!-- card -->
          <div class="card mb-4 card-hover">
             <!-- img -->
            <div class="card-img-top">
              <img src="https://res.cloudinary.com/dza6mn30y/image/upload/v1646777262/Pushflo/Avatars/Copy_of_Roel_padott.jpg" alt="" class="rounded-top-md img-fluid">
            </div>
             <!-- card body -->
            <div class="card-body">
              <h3 class="mb-0 fw-semi-bold"><a href="#" class="text-inherit">Roel</a></h3>
              <p class="mb-3">Specialisms : <strong>VS Code, Notion</strong></p>
              <div class="lh-1  d-flex justify-content-between">

                <div>
                  <span class="fs-6 text-muted"><span class="text-dark">5</span> Workflows</span></div>

            </div>
          </div>
        </div>
        </div>
         <!-- btn -->
        <%# <div class="d-flex justify-content-center pt-6">
          <a href="#" class="btn btn-primary card-hover"> See All Creators </a>
        </div> %>
      </div>
    </div>
  </div>
  <!-- Instructor -->
  <div class="py-8 py-lg-16 ">
    <div class="container ">

      <div class="row ">
        <div class="col-lg-11 col-md-12">
          <div class="row align-items-center">
            <div class="col-md-12 col-12 mb-4">
               <!-- avatar group -->
              <div class="avatar-group me-5">
                 <!-- avatar -->
                <span class="avatar avatar-lg ">
                  <img alt="avatar" src="https://res.cloudinary.com/dza6mn30y/image/upload/v1645874416/Pushflo/Avatars/Copy_of_Dave_odrthq.png" class="rounded-circle">
                </span>
                  <!-- avatar -->
                <span class="avatar avatar-lg ">
                  <img alt="avatar" src="https://res.cloudinary.com/dza6mn30y/image/upload/v1646777262/Pushflo/Avatars/Copy_of_Roel_padott.jpg" class="rounded-circle">
                </span>
                  <!-- avatar -->
                <span class="avatar avatar-lg ">
                  <img alt="avatar" src="https://res.cloudinary.com/dza6mn30y/image/upload/v1646777172/Pushflo/Avatars/Copy_of_Kyri_ygvzqc.jpg" class="rounded-circle">
                </span>
                  <!-- avatar -->
                <span class="avatar avatar-lg ">
                  <img alt="avatar" src="https://res.cloudinary.com/dza6mn30y/image/upload/v1645874416/Pushflo/Avatars/Copy_of_Nelson_rr2idp.jpg" class="rounded-circle">
                </span>
                  <!-- avatar -->
                <span class="https://res.cloudinary.com/dza6mn30y/image/upload/v1645874416/Pushflo/Avatars/Copy_of_Dave_odrthq.png">
                  <span class="avatar-initials rounded-circle fs-5 fw-bold"></span>
                </span>
              </div>
            </div>
              <!-- heading -->
            <div class="col-lg-6 col-md-5 col-12 mb-6">
              <h1 class="display-4 fw-bold">🙏 Become a Creator</h1>
            </div>

          </div>
            <!-- row -->
          <div class="row">
            <div class="col-lg-4 col-md-4 col-12 mb-3">
                <!-- text -->
              <h3 class="fw-semi-bold mb-2">Help others</h3>
              <p class="fs-4">You workflows could transform the way others work <span
                  class="text-dark">Paypal </span>or <span class="text-dark">Payoneer</span>.</p>
            </div>
            <div class="col-lg-4 col-md-4 col-12 mb-3">
                <!-- text -->
              <h3 class="fw-semi-bold mb-2">Inspire change</h3>
              <p class="fs-4">Help people learn new skills and advance their career</p>
            </div>
            <div class="col-lg-4 col-md-4 col-12 mb-3">
                <!-- text -->
              <h3 class="fw-semi-bold mb-2">Join our community</h3>
              <p class="fs-4">Take advantage of our active community of creators
              </p>
          </div>
              <!-- btn -->
            <div class="mb-lg-10">
              <a href="#" >
                <%= link_to "⤴️ Upload Workflow", new_workflow_path, class:"btn btn-primary  card-hover " %>
              </a>

            </div>
          </div>
        </div>
      </div>

    </div>

</div>
