<!DOCTYPE html>
<html>
  <head>
    <title>Pushflo</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>
    <%= yield %>
    <%= render 'shared/footer' %>
    
<!-- CDN File for moment -->
<script src='https://cdn.jsdelivr.net/npm/moment@2.29.1/min/moment.min.js'></script>



<!-- Theme JS -->
<!-- build:js @@webRoot/assets/js/theme.min.js -->
<script src="../assets/javascript/theme/main.js"></script>
<script src="../assets/javascript/theme/pricing.js"></script>
<script src="../assets/javascript/theme/customDragula.js"></script>
<script src="../assets/javascript/theme/beStepper.js"></script>
<script src="../assets/javascript/theme/sidebarMenu.js"></script>
<script src="../assets/javascript/theme/tnsSlider.js"></script>
<script src="../assets/javascript/theme/tooltip.js"></script>
<script src="../assets/javascript/theme/chat.js"></script>
<script src="../assets/javascript/theme/jquery.downCount.min.js"></script>
<script src="../assets/javascript/theme/countdown.js"></script>
<script src="../assets/javascript/theme/chart.js"></script>
<script src="../assets/javascript/theme/calendar.js"></script>

<!-- endbuild -->
  </body>
</html> %>
