<!DOCTYPE html>
<html>
  <head>
    <title>Pushflo</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>

    <%= yield %>
    <!-- Libs JS -->
<script src="@@webRoot/node_modules/jquery/dist/jquery.min.js"></script>
<script src="@@webRoot/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="@@webRoot/node_modules/odometer/odometer.min.js"></script>
<script src="@@webRoot/node_modules/jquery-slimscroll/jquery.slimscroll.min.js"></script>
<script src="@@webRoot/node_modules/magnific-popup/dist/jquery.magnific-popup.min.js"></script>
<script src="@@webRoot/node_modules/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
<script src="@@webRoot/node_modules/flatpickr/dist/flatpickr.min.js"></script>
<script src="@@webRoot/node_modules/inputmask/dist/jquery.inputmask.min.js"></script>
<script src="@@webRoot/node_modules/apexcharts/dist/apexcharts.min.js"></script>
<script src="@@webRoot/node_modules/quill/dist/quill.min.js"></script>
<script src="@@webRoot/node_modules/file-upload-with-preview/dist/file-upload-with-preview.min.js"></script>
<script src="@@webRoot/node_modules/dragula/dist/dragula.min.js"></script>
<script src="@@webRoot/node_modules/bs-stepper/dist/js/bs-stepper.min.js"></script>
<script src="@@webRoot/node_modules/dropzone/dist/min/dropzone.min.js"></script>
<script src="@@webRoot/node_modules/jQuery.print/jQuery.print.js"></script>
<script src="@@webRoot/node_modules/prismjs/prism.js"></script>
<script src="@@webRoot/node_modules/prismjs/components/prism-scss.min.js"></script>
<script src="@@webRoot/node_modules/@yaireo/tagify/dist/tagify.min.js"></script>
<script src="@@webRoot/node_modules/tiny-slider/dist/min/tiny-slider.js"></script>
<script src="@@webRoot/node_modules/@popperjs/core/dist/umd/popper.min.js"></script>
<script src="@@webRoot/node_modules/tippy.js/dist/tippy-bundle.umd.min.js"></script>
<script src="@@webRoot/node_modules/typed.js/lib/typed.min.js"></script>
<script src="@@webRoot/node_modules/jsvectormap/dist/js/jsvectormap.min.js"></script>
<script src="@@webRoot/node_modules/jsvectormap/dist/maps/world.js"></script>
<script src="@@webRoot/node_modules/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="@@webRoot/node_modules/datatables.net-bs5/js/dataTables.bootstrap5.min.js"></script>
<script src="@@webRoot/node_modules/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
<script src="@@webRoot/node_modules/datatables.net-responsive-bs5/js/responsive.bootstrap5.min.js"></script>
<script src="@@webRoot/node_modules/prismjs/plugins/toolbar/prism-toolbar.min.js"></script>
<script src="@@webRoot/node_modules/prismjs/plugins/copy-to-clipboard/prism-copy-to-clipboard.min.js"></script>
<script src="@@webRoot/node_modules/fullcalendar/main.min.js"></script>


<!-- CDN File for moment -->
<script src='https://cdn.jsdelivr.net/npm/moment@2.29.1/min/moment.min.js'></script>



<!-- Theme JS -->
<!-- build:js @@webRoot/assets/js/theme.min.js -->
<script src="@@webRoot/assets/js/main.js"></script>
<script src="@@webRoot/assets/js/pricing.js"></script>
<script src="@@webRoot/assets/js/customDragula.js"></script>
<script src="@@webRoot/assets/js/beStepper.js"></script>
<script src="@@webRoot/assets/js/sidebarMenu.js"></script>
<script src="@@webRoot/assets/js/tnsSlider.js"></script>
<script src="@@webRoot/assets/js/tooltip.js"></script>
<script src="@@webRoot/assets/js/chat.js"></script>
<script src="@@webRoot/assets/js/jquery.downCount.min.js"></script>
<script src="@@webRoot/assets/js/countdown.js"></script>
<script src="@@webRoot/assets/js/chart.js"></script>
<script src="@@webRoot/assets/js/calendar.js"></script>

<!-- endbuild -->
  </body>
</html>
